* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f0f8ff;
    background: linear-gradient(to right, #000000, #0d4967);
}

/* Header */
header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: transparent;
}

header .logo img {
    width: 150px;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 15px;
}

.menu-icon span {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: width 0.3s ease-in-out;
    z-index: 1;
}

.overlay.active {
    width: 100%;
}

.side-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background: #222;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 2;
}

.side-menu.active {
    right: 0;
}

.menu-links {
    list-style: none;
    padding: 30px 20px;
}

.menu-links li {
    margin: 15px 0;
}

.menu-links li a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.menu-links li a:hover {
    color: #8bafdd;
}

.credits {
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

.social-links a img {
    width: 24px;
    margin: 10px 5px;
    transition: transform 0.3s ease;
}

.social-links a img:hover {
    transform: scale(1.2);
}

/* Home Section */
.section-home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15vw 40px 15vw;
}

.section-home .content {
    max-width: 50%;
}

.section-home h1 {
    font-size: 48px;
    color: #004d66;
    margin-bottom: 20px;
}

.section-home p {
    font-size: 20px;
    color: #004d66;
    margin-bottom: 30px;
}

.section-home .btn {
    padding: 12px 30px;
    background-color: #156993;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.section-home .btn:hover {
    background-color: #0d4764;
}

.section-home .rotated-images {
    display: flex;
    gap: 30px;
    transform: rotate(-15deg);
}

.section-home .rotated-images img {
    width: 125px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* About Section */
.section-about {
    padding: 80px 20px;
    padding: 25px 15vw 350px 15vw;
}

.section-about .about-content {
    max-width: 50%;
}

.section-about h2 {
    font-size: 36px;
    color: #004d66;
}

.section-about p {
    font-size: 18px;
    margin-top: 20px;
    color: #004d66;
}

/* Projects Section */
.section-projects,
.section-JS-projects {
    padding: 40px 15vw 40px 15vw;
}

.section-projects h2,
.section-JS-projects h2 {
    text-align: center;
    font-size: 36px;
    color: #004d66;
    margin-bottom: 40px;
}

.projects-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 50px;
}

.project-card {
    background-color: #004d66;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-card img:hover {
    transform: scale(1.05);
}

.project-card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    flex-grow: 1;
}

.project-card a {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    align-self: center;
}

.project-card a:hover {
    background-color: #005b96;
}

/* Contact Section */
.section-contact {
    padding: 60px 20px;
    text-align: center;
}

.section-contact h2 {
    font-size: 36px;
    color: #004d66;
    margin-bottom: 40px;
}

.section-contact form {
    max-width: 500px;
    margin: 0 auto;
}

.section-contact label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.section-contact input,
.section-contact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #004d66;
    border-radius: 5px;
    background: linear-gradient(to right, #14516b, #156993);
}

.section-contact button {
    padding: 12px 30px;
    background-color: #007acc;
    color: white;
    border-radius: 30px;
    border: transparent;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.section-contact button:hover {
    background-color: #005b96;
}

/* Footer */
footer {
    color: white;
    text-align: center;
    padding: 40px 15vw 40px 15vw;
}

/* Mobile Compatibility */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    .side-menu {
        right: -225px;
        width: 225px;
    }

    .menu-links li a {
        font-size: 20px;
    }

    .credits {
        font-size: 12px;
    }

    .section-home {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .section-home .content {
        margin-top: 75px;
        max-width: 100%;
    }

    .section-home h1 {
        font-size: 36px;
    }

    .section-home p {
        font-size: 16px;
    }

    .section-home .rotated-images {
        flex-direction: column;
        transform: none;
    }

    .section-about {
        padding: 40px;
        flex-direction: column;
    }

    .section-about .about-content,
    .section-about .about-image {
        max-width: 100%;
        text-align: center;
    }

    .section-projects,
    .section-JS-projects {
        padding: 60px 20px;
    }

    .projects-gallery {
        display: flex;
        gap: 25px 25px;
        flex-direction: column;
        align-items: center;
    }

    .project-card img {
        width: 100%;
    }
}