* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 1;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f0f8ff;
    background: linear-gradient(to right, #000000, #0d4967);
}

/* Header */
nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: transparent;
    z-index: 0;
}

nav .logo img {
    width: 150px;
}
.menu-icon {
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

.menu-icon span {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
}
.social-links {
    position: fixed;
    right: 25px;
    bottom: 15px;
}
.social-links a img {
    width: 24px;
    margin: 10px 5px;
    transition: transform 0.3s ease;
}

.social-links a img:hover {
    transform: scale(1.2);
}

/* Home Section */
.section-home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15vw 40px 15vw;
}

.section-home .content {
    max-width: 50%;
}

.section-home h1 {
    font-size: 48px;
    color: #004d66;
    margin-bottom: 20px;
}

.section-home p {
    font-size: 20px;
    color: #004d66;
    margin-bottom: 30px;
}

.section-home .btn {
    padding: 12px 30px;
    background-color: #156993;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.section-home .btn:hover {
    background-color: #0d4764;
}

.section-home .rotated-images {
    display: flex;
    gap: 30px;
    transform: rotate(-15deg);
}

.section-home .rotated-images img {
    width: 125px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* About Section */
.section-about {
    padding: 80px 20px;
    padding: 25px 15vw 250px 15vw;
}

.section-about .about-content {
    max-width: 50%;
}

.section-about h2 {
    font-size: 36px;
    color: #004d66;
}

.section-about p {
    font-size: 18px;
    margin-top: 20px;
    color: #004d66;
}

/* Projects Section */
.category-icons {
    width: 185px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.category-icons button {
    background: transparent;
    border: none;
    transition: 0.3s;
}
.category-icons button:hover {
    cursor: pointer;
    transform: translate(0, -15px);
}
.category-icons img {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    box-shadow: 15px 28px 36px rgba(0, 0, 0, 0.4);
}
.carousel-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-button.left {
    left: 10vw;
}

.nav-button.right {
    right: 10vw;
}

main#carousel {
    width: 1400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 29%;
    height: 60%;
    text-align: center;
    background-color: #004d66;
    color: white;
    border-radius: 10px;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
    display: none;
}

.item img {
    width: 100%;
    height: 67%;
    border-radius: 10px;
}

.item h3 {
    margin-top: 10px;
    font-size: 16px;
}

.item a {
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    pointer-events: none;
    padding: 8px 15px;
    background-color: #007acc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.item.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) translateZ(200px) scale(1);
    z-index: 3;
}
.item.active a {
    pointer-events: all;
}

.item.left {
    display: block;
    pointer-events: all;
    transform: translateX(-700px) translateY(-50%) rotateY(10deg) scale(0.9);
    opacity: 0.7;
}

.item.right {
    display: block;
    pointer-events: all;
    transform: translateX(300px) translateY(-50%) rotateY(-10deg) scale(0.9);
    opacity: 0.7;
}

/* Contact Section */
.section-contact {
    margin-top: 150px;
    padding: 60px 20px;
    text-align: center;
}

.section-contact h2 {
    font-size: 36px;
    color: #004d66;
    margin-bottom: 40px;
}

.section-contact form {
    max-width: 500px;
    margin: 0 auto;
}

.section-contact label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.section-contact input,
.section-contact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #004d66;
    border-radius: 5px;
    background: linear-gradient(to right, #14516b, #156993);
}

.section-contact button {
    padding: 12px 30px;
    background-color: #007acc;
    color: white;
    border-radius: 30px;
    border: transparent;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.section-contact button:hover {
    background-color: #005b96;
}

/* Footer */
footer {
    color: white;
    text-align: center;
    padding: 40px 15vw 40px 15vw;
}

/* Mobile Compatibility */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .section-home {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .section-home .content {
        margin-top: 75px;
        max-width: 100%;
    }

    .section-home h1 {
        font-size: 36px;
    }

    .section-home p {
        font-size: 16px;
    }

    .section-home .rotated-images {
        flex-direction: column;
        transform: none;
    }

    .section-about {
        padding: 40px;
        flex-direction: column;
    }

    .section-about .about-content,
    .section-about .about-image {
        max-width: 100%;
        text-align: center;
    }
    .item {
        width: 230px;
        height: 225px;
    }

    .item img {
        width: 230px;
        height: 130px;
    }
}
